.header {
    display: flex;
    justify-content: center;
    padding-bottom: 45px;
}
/* Car */
.parent-cars {
    background-color:#dbdbdb;
    padding: 50px 0;
}
.car {
    width: 342px;
    height: 470px;
    border-radius: 26px;
    border: 10px white solid;
    margin: 20px auto;
    margin-bottom: 40px;
}
.car-image img {
    width: 327px;
}
.car-option div {
    width: fit-content;
    padding: 5px 10px;
    border-radius: 9px;
    background-color: white;
    color: black;
}
.car-option {
    display: flex;
    gap: 5px;
    margin-left: 20px;
}
.car-info p {
    font-size: x-large;
    font-weight: bold;
    margin-left: 20px;
    text-transform: capitalize;
}
.car-info p:nth-child(2) {
    color: red;
}
.car-info {
    padding: 8px 0;
}
.car-dispo {
    margin-left: 20px;
    font-weight: bold;
    font-size: large;
}
.card-commande {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}
.card-commande button {
    padding: 8px 15px;
    border-radius: 4px;
    font-weight: bold;
    background: black;
    color: white;
}
#delete {
    background-color: red !important;
}
.see-all-btn {
    text-align: center;
    margin-top: 25px;
}
.see-all-btn button {
    padding: 12px 20px;
    font-weight: bold;
    border-radius: 4px;
    background: red;
    border: none;
    cursor: pointer;
}
.see-all-btn button a {
    text-decoration: none;
    color: white;
}
@media (min-width : 700px) {
    .cars {
    display: flex;
    flex-wrap: wrap;
    padding: 0 131px;
    gap: 25px;
}
}
/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 41px;
}
.page-item {
    background-color: black;
    padding: 10px 15px;
    border-radius: 4px;
}
.page-item a {
    text-decoration: none;
    color: white;
}
.page-link {
    color: white;
}
/* Bootstrap */
p {
    margin-bottom: 0 !important;
}
.sidebar {
    left: -290px !important;
}
.sidebar.active {
    left: 0 !important;
    box-sizing: unset !important;
}
#option-comp {
    color: red ;
    background: black;
    padding: 10px 15px;
    border-radius: 2px;
}